.sign-in{
    width: 30%;
}

.signForm{
    padding: 50px;
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
    
}

.cen{
    display: inline-block;
    text-align: center;
    font-family: 'Lato';
}


